<?xml version="1.0"?>

<launch>
  <!-- We resume the logic in empty_world.launch, changing only the name of the world to be launched -->
  <include file="$(find uav_ros_controller)/launch/empty_world.launch"/>

   <arg name="model" default="$(find hector_quadrotor_description)/urdf/quadrotor_hokuyo_utm30lx.gazebo.xacro"/>


    <group ns="quad0">
   <include file="$(find uav_ros_controller)/launch/spawn_quadrotor.launch">
   <arg name="name" value="quad0" />
   <arg name="tf_prefix" value="quad0" />
   <arg name="model" value="$(arg model)" />
   <arg name="x" value="0"/>
   <arg name="y" value="0"/>
   <arg name="z" value="0.5"/>
   </include>
   </group> 

   <group ns="quad1">
   <include file="$(find uav_ros_controller)/launch/spawn_quadrotor.launch">
   <arg name="name" value="quad1" />
   <arg name="tf_prefix" value="quad1" />
   <arg name="model" value="$(arg model)" />
   <arg name="x" value="0"/>
   <arg name="y" value="1"/>
   <arg name="z" value="0.5"/>
   </include>
   </group> 

   <group ns="quad2">
   <include file="$(find uav_ros_controller)/launch/spawn_quadrotor.launch">
   <arg name="name" value="quad2" />
   <arg name="tf_prefix" value="quad2" />
   <arg name="model" value="$(arg model)" />
   <arg name="x" value="0"/>
   <arg name="y" value="2"/>
   <arg name="z" value="0.5"/>
   </include>
   </group> 

   <group ns="quad3">
   <include file="$(find uav_ros_controller)/launch/spawn_quadrotor.launch">
   <arg name="name" value="quad3" />
   <arg name="tf_prefix" value="quad3" />
   <arg name="model" value="$(arg model)" />
   <arg name="x" value="0"/>
   <arg name="y" value="3"/>
   <arg name="z" value="0.5"/>
   </include>
   </group> 

    <group ns="quad4">
   <include file="$(find uav_ros_controller)/launch/spawn_quadrotor.launch">
   <arg name="name" value="quad4" />
   <arg name="tf_prefix" value="quad4" />
   <arg name="model" value="$(arg model)" />
   <arg name="x" value="0"/>
   <arg name="y" value="4"/>
   <arg name="z" value="0.5"/>
   </include>
   </group> 

   <group ns="quad5">
   <include file="$(find uav_ros_controller)/launch/spawn_quadrotor.launch">
   <arg name="name" value="quad5" />
   <arg name="tf_prefix" value="quad5" />
   <arg name="model" value="$(arg model)" />
   <arg name="x" value="0"/>
   <arg name="y" value="5"/>
   <arg name="z" value="0.5"/>
   </include>
   </group> 

   <group ns="quad6">
   <include file="$(find uav_ros_controller)/launch/spawn_quadrotor.launch">
   <arg name="name" value="quad6" />
   <arg name="tf_prefix" value="quad6" />
   <arg name="model" value="$(arg model)" />
   <arg name="x" value="0"/>
   <arg name="y" value="6"/>
   <arg name="z" value="0.5"/>
   </include>
   </group> 

   <group ns="quad7">
   <include file="$(find uav_ros_controller)/launch/spawn_quadrotor.launch">
   <arg name="name" value="quad7" />
   <arg name="tf_prefix" value="quad7" />
   <arg name="model" value="$(arg model)" />
   <arg name="x" value="0"/>
   <arg name="y" value="7"/>
   <arg name="z" value="0.5"/>
   </include>
   </group> 

    <group ns="quad8">
   <include file="$(find uav_ros_controller)/launch/spawn_quadrotor.launch">
   <arg name="name" value="quad8" />
   <arg name="tf_prefix" value="quad8" />
   <arg name="model" value="$(arg model)" />
   <arg name="x" value="0"/>
   <arg name="y" value="8"/>
   <arg name="z" value="0.5"/>
   </include>
   </group> 

   <group ns="quad9">
   <include file="$(find uav_ros_controller)/launch/spawn_quadrotor.launch">
   <arg name="name" value="quad9" />
   <arg name="tf_prefix" value="quad9" />
   <arg name="model" value="$(arg model)" />
   <arg name="x" value="0"/>
   <arg name="y" value="9"/>
   <arg name="z" value="0.5"/>
   </include>
   </group> 

   

</launch>
